<label class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 cursor-pointer bg-white text-gray-900 shadow-sm">
  <input type="radio" name="{{ option.name }}" value="{{ value |  escape }}" class="sr-only peer {% if option_disabled == true %}disabled{% endif %}" {% if value == option.selected_value %}checked{% endif %} aria-labelledby="size-choice-1-label">
  <span class="peer-[.disabled]:line-through peer-[.disabled]:opacity-50" id="{{ option.name }}-{{ index }}">{{ value }}</span>
  <span class="pointer-events-none absolute -inset-px rounded-md peer-[.disabled]:bg-neutral-500/10 peer-checked:border-neutral-500/50 peer-checked:border" aria-hidden="true"></span>
</label>