<div class="relative isolate">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M100 200V.5M.5 .5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
      <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
  </svg>
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-40">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
      <div class="flex">
        <div class="relative flex items-center gap-x-4 rounded-full px-4 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
          <span class="font-semibold text-neutral-600">{{ section.settings.category }}</span>
          <span class="h-4 w-px bg-gray-900/10" aria-hidden="true"></span>
          <a href="{{ section.settings.breadcrumbs_url }}" class="flex items-center gap-x-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            {{ section.settings.subcategory }}
            <svg class="-mr-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
      <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ section.settings.heading }} </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">{{ section.settings.description }}</p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="{{ section.settings.button_url }}" class="text-sm font-semibold leading-6 text-gray-900">{{ section.settings.button }}&nbsp;&nbsp;<span aria-hidden="true">→</span></a>
      </div>
    </div>
    <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
      {% if section.settings.image %}        
        {{ section.settings.image | image_url: width:500 |  image_tag  }}
      {% else %}
        {{ 'product-2' | placeholder_svg_tag: 'w-full' }}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.home-hero.name",
    "tag": "section",
    "class": "section",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "category",
        "label": "t:sections.home-hero.settings.category.label",
        "default": "Category name"
      },
      {
        "type": "text",
        "id": "subcategory",
        "label": "t:sections.home-hero.settings.subcategory.label",
        "default": "Subcategory name"
      },
      {
        "type": "url",
        "id": "breadcrumbs_url",
        "label": "t:sections.home-hero.settings.breadcrumbs_url.label"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.heading.label",
        "default": "Heading"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "description",
        "default": "Description"
      },
      {
        "type": "text",
        "id": "button",
        "label": "button label",
        "default": "Button"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.all.image.label"
      }
    ],
    "templates": [
      "index"
    ],
    "presets": [
      {
        "name": "t:sections.home-hero.presets.name"
      }
    ]
  }
{% endschema %}